<html>
  <body>
    <form action="/" method="POST">
    Stock Ticker
    <input type="text" name="stock"><br>
    Expiration
    <input type="date" name='expiry'><br>
    Strike Price
    <input type="float" name="strike_price"><br>
    <button type="submit" value="submit">Calculate</button>
    </form>
    {%if result%}
    <p>Stock: {{stock}}</p>
    <p>Expiration: {{expiry}}</p>
    <p>Strike Price: {{strike_price}}</p>
    <p>The price of the call is ${{result}}</p>
    {%endif%}
  </body>
</html>